# Part 1. Lists, dictionaries, tuples and Pandas

In this Deepnote, we will revise complex data structures by learning how to turn them into Pandas data frames.

You can make data frames and series from any Python data structure. 

Data frames are rectangular, they look like spreadsheets.

Series are one-dimensional. To make it easier think of a series as one column in a data frame.

In [3]:
import pandas as pd

## Making series from lists üëáüèº

In [4]:
rates = [20, 30, 50, 40, 100] # makes a list
rates_into_Series = pd.Series(rates) # converts a list to series
rates_into_Series # prints series: a overtical column with numeric indexes

0     20
1     30
2     50
3     40
4    100
dtype: int64

In [5]:
rates_into_Series.dtype # gets the type of values in a column, an attribute üëáüèº the data in the column are integers

dtype('int64')

## Making series from tuples üëáüèº

In [ ]:
data_tuple = ('Jeff Bezos', 'Elon Musk', 'Bernard Arnault', 'Bill Gates', 'Warren Buffett')
type(data_tuple)

tuple

In [ ]:
len(rates)

5

In [ ]:
len(data_tuple)

5

In [ ]:
# data_tuple[2] = "V. Putin" - we cannot overwrite a value in a tuple

In [ ]:
series_from_tuple = pd.Series(data_tuple)
series_from_tuple

0         Jeff Bezos
1          Elon Musk
2    Bernard Arnault
3         Bill Gates
4     Warren Buffett
dtype: object

In [ ]:
type(series_from_tuple)

pandas.core.series.Series

## Make a data frame from several of Series

There are many ways to combine Series into a data frame. I chose the one I thought was the easiest.

In [ ]:
df = pd.DataFrame(columns = ['Names', 'Rates'])

df['Names'] = series_from_tuple
df['Rates'] = rates_into_Series
df # weee - we made a dataframe from scratch

             Names  Rates
0       Jeff Bezos     20
1        Elon Musk     30
2  Bernard Arnault     50
3       Bill Gates     40
4   Warren Buffett    100

In [ ]:
df['Names'] = df['Names'].apply(lambda name: name.lower())

In [ ]:
data_dict = {"Apple": "fruit", "Cat": "animal", "Putin":"war criminal"}

In [ ]:
print(type(data_dict))

<class 'dict'>

In [ ]:
series_from_dict = pd.Series(data=data_dict)

In [ ]:
series_from_dict # Series based on dictionaries have named keys

Apple           fruit
Cat            animal
Putin    war criminal
dtype: object

## We can make data frames from dictionaries with lists as values

In [ ]:
new_dict = {"Fruits": ["apple", "banana", "tomato"], "Amount":[3,5,6]}

In [ ]:
df2 = pd.DataFrame(new_dict)
df2

   Fruits  Amount
0   apple       3
1  banana       5
2  tomato       6

In [ ]:
df3 = pd.DataFrame(data_dict, index=[0]) # we can also convert a dictionary into a data frame

df3

   Apple     Cat         Putin
0  fruit  animal  war criminal

## üèãÔ∏èüèãÔ∏è In pairs or individually:

1. Make data frames from either lists or dictionaries. Make one column city, other one population. Find data on Wikipedia.

In [ ]:
populations = {"Cities": ["london", "moscow", "austin", "maiami"], "Populations": ["8.982 million", "12,641,000", "2,176,000", "6,215,000"]}

In [ ]:
import pandas as pd
pop_df = pd.DataFrame(populations)
pop_df

   Cities    Populations
0  london  8.982 million
1  moscow     12,641,000
2  austin      2,176,000
3  maiami      6,215,000

In [ ]:
help(pd.DataFrame.dtypes)

Help on property:

    Return the dtypes in the DataFrame.

    This returns a Series with the data type of each column.
    The result's index is the original DataFrame's columns. Columns
    with mixed types are stored with the ``object`` dtype. See
    :ref:`the User Guide <basics.dtypes>` for more.

    Returns
    -------
    pandas.Series
        The data type of each column.

    Examples
    --------
    >>> df = pd.DataFrame({'float': [1.0],
    ...                    'int': [1],
    ...                    'datetime': [pd.Timestamp('20180310')],
    ...                    'string': ['foo']})
    >>> df.dtypes
    float              float64
    int                  int64
    datetime    datetime64[ns]
    string              object
    dtype: object

In [ ]:
pop_df.dtypes # checking the data type of all columns

Cities         object
Populations    object
dtype: object

In [ ]:
pop_df['Populations'].str.match(r'\w')==True

0    True
1    True
2    True
3    True
Name: Populations, dtype: bool

In [ ]:
pop_df['Populations'].str.match(r'.*million.*')==True # using regex to see

0     True
1    False
2    False
3    False
Name: Populations, dtype: bool

# Part 2. Functions and lamdas in Pandas

The easiest way to put Pandas and functions together is to look at Pandas method `.apply()`

In [ ]:
df2

   Fruits  Amount
0   apple       3
1  banana       5
2  tomato       6

In [ ]:
df2['Fruits'].apply(lambda fruit: fruit[::-1])

0     elppa
1    ananab
2    otamot
Name: Fruits, dtype: object

In [ ]:
def multiply(val):
    return val*3

In [ ]:
df2['New Amount'] = df2['Amount'].apply(multiply)
df2

   Fruits  Amount  New Amount
0   APPLE       3           9
1  BANANA       5          15
2  TOMATO       6          18

### We can use lambda function as the first parameter to `.apply()`

In [ ]:
df2['Fruits'] = df2['Fruits'].apply(lambda name: name.upper())
df2

   Fruits  Amount  New Amount
0   APPLE       3           9
1  BANANA       5          15
2  TOMATO       6          18

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('nba.csv')

In [ ]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def real_age(old_age):
    return old_age+6

In [ ]:
df['Age in 2022'] = df['Age'].apply(real_age)
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Age in 2022
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,31.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,31.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,33.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,28.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,35.0
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,32.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,30.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,32.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,32.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## üèãÔ∏èüèãÔ∏è In pairs or individually:


1. Make all teams use only all capitals
2. Make all positions all smalls
3. Make positions full words (you need... a dictionary)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=6cc8e273-ccff-4aba-902f-885b29543ce6' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>